/*
 * SPDX-FileCopyrightText: 2020 (c) Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/**
 * Used for kde.org/applications
 */
/* Application pages */

h1 a:after {
  margin: 0px 5px;
  color: #6F8181;
  content: ">";
  font-family: "glyph";
  font-size: 60%;
  vertical-align: middle;
}

.applications {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  align-items: top;
  grid-gap: 1em;
  padding-top: 1rem;
  .icon {
    width: 4rem;
    height: 4rem;
  }
  h3 {
    margin-top: 0.5rem;
  }
}

.store-badge {
  a {
    height: 90px;
  }

  .full-img {
    width: 150px;
  }

  .spaced-img {
    max-height: 80px;
  }

  .wide-img {
    width: 180px;
  }
}

.application-header {
  background-color: rgba(61, 174, 233, 0.1);
}

.unmaintained-header {
  background-color: #c0392b;

  p {
    color: white;
    margin-bottom: 0px;
  }
}

@media (max-width: 576px) {
  .icon-text-header {
    flex-direction: column;
  }
}
