{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2021 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: GPL-3.0-or-later
*/}}

<div>
  {{ with .Params.appDescription }}
    {{ . | markdownify }}
  {{ else }}
    {{ with .Params.summary }}
      {{ . }}
    {{ end }}
  {{ end }}
</div>
{{ if eq .Params.appType "addon" }}
  {{ $appPages := where .Site.RegularPages "Section" "applications" }}
  {{ if ne .Site .Sites.First }}
    {{ $enAppPages := where .Sites.First.RegularPages "Section" "applications" }}
    {{ $appPages = $appPages | lang.Merge $enAppPages }}
  {{ end }}
  {{ $extendees := where $appPages "Params.desktopid" "in" .Params.extends }}
  {{ if gt (len $extendees) 0 }}
<p>
  {{ i18n "extendees" }} {{ range $index, $extendee := $extendees }}
    {{ if gt $index 0 }} | {{ end }}
    {{ $icon := $extendee.Params.icon }}
    {{ $name := $extendee.Params.name }}
    {{ $link := $extendee.Permalink }}
    {{ partial "icon_n_name" (dict "type" "app" "icon" $icon "size" "16" "name" $name "link" $link) }}
  {{ end }}
</p>
  {{ end }}
{{ end }}
<div class="row">
  {{ partial "store_badge.html" (dict "type" "appstream" "link" (print "appstream://" .Params.id) "divClass" "col-12 col-sm-4 d-flex flex-column mb-3 store-badge linux-badge" "aClass" "d-flex align-self-center" "imgClass" "img-fluid align-self-center full-img") }}
  {{ if .Params.flathub }}
    {{ partial "store_badge.html" (dict "type" "flathub" "link" (print "https://flathub.org/apps/details/" .Params.id) "divClass" "col-12 col-sm-4 d-flex flex-column mb-3 store-badge" "aClass" "d-flex align-self-center" "imgClass" "img-fluid align-self-center wide-img") }}
  {{ end }}
  {{ with .Params.snap_url }}
    {{ partial "store_badge.html" (dict "type" "snapstore" "link" . "divClass" "col-12 col-sm-4 d-flex flex-column mb-3 store-badge" "aClass" "d-flex align-self-center" "imgClass" "img-fluid align-self-center wide-img") }}
  {{ end }}
  {{ with .Params.windowsStoreLink }}
    {{ partial "store_badge.html" (dict "type" "msstore" "link" . "divClass" "col-12 col-sm-4 d-flex flex-column mb-3 store-badge windows-badge" "aClass" "d-flex align-self-center" "imgClass" "img-fluid align-self-center full-img") }}
  {{ end }}
  {{ with .Params.fDroidLink }}
    {{ partial "store_badge.html" (dict "type" "fdroid" "link" . "divClass" "col-12 col-sm-4 d-flex flex-column mb-3 store-badge android-badge" "aClass" "d-flex align-self-center" "imgClass" "img-fluid align-self-center spaced-img") }}
  {{ end }}
  {{ with .Params.googlePlayLink }}
    {{ partial "store_badge.html" (dict "type" "ggplay" "link" . "divClass" "col-12 col-sm-4 d-flex flex-column mb-3 store-badge android-badge" "aClass" "d-flex align-self-center" "imgClass" "img-fluid align-self-center wide-img") }}
  {{ end }}

  {{ if or .Params.windowsRelease .Params.windowsNightly }}
    <p class="pt-4">{{ partial "fn/i18n_args" (slice "windows-installer" .Params.name) | markdownify }}</p>
    <ul>
      {{ with .Params.windowsRelease }}
        <li><a href="{{ .url }}">{{ i18n "windows-stable" }}</a> {{ i18n "windows-stable-desc" }}</li>
      {{ end }}
      {{ with .Params.windowsNightly }}
        <li><a href="{{ .url }}">{{ i18n "windows-unstable" }}</a> {{ i18n "windows-unstable-desc" }}</li>
      {{ end }}
    </ul>
  {{ end }}
</div>
