{{/*
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ define "head-import" }}
{{ $style := resources.Get "scss/applications.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<main class="container">
  <section>
    <h2>
      {{ partial "term_title" . }}
    </h2>
    <div class="applications">
      {{ $pages := .Site.RegularPages }}
      {{ if ne .Site .Sites.First }}
        {{ $pages = $pages | lang.Merge .Sites.First.RegularPages }}
      {{ end }}
      {{- $taxo := .Data.Plural }}
      {{- $term := .Data.Term }}
      {{ range where (where $pages "Section" "applications") "Params.apptype" "!=" "addon" }}
        {{ if in (index .Params $taxo) $term }}
          {{ partial "app_tile.html" . }}
        {{ end }}
      {{ end }}
    </div>
  </section>
</main>
{{ end }}
